<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="titrepage">connexion</title>
    <link href="css.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="source/icone.png" />
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js.js" defer></script>
    <!-- <img src="source/icone.png" /> -->

    <div id="menu">
        <img src="source/icone.png" id="icone" />

        <h1 id="site">Partage de notes entre étudiants</h1>

        <nav id="nav">
            <a href="accueil.html">accueil</a>
            <a href="m'authentifier.html">{{ mauthentifier }}</a>
            <a href="contact.html">contact</a>
        </nav>

        <br>
        <br>

        <h1 id="titre">{{ titre }}</h1>

    </div>

    <br>
    <br>















    <div id="authentification">
        <!-- <label for="mail">mail :</label>
        <input type="email" id="mail" name="mail" required minlength="4" maxlength="500" size="20" />

        <br>

        <label for="mdp">mot de passe (8 caractères minimum) :</label>
        <input type="password" id="mdp" name="mdp" minlength="8" required />

        <br>

        <input type="submit" value="se connecter" /> -->




        <form
            id="authentification"
            @submit="checkForm"
            action="http://localhost:8080/user/login"
            method="post"
            >

            <p v-if="errors.length">
                <ul>
                <li v-for="error in errors">{{ error }}</li>
                </ul>
            </p>

            <p>
                <label for="mail">nom d'utilisateur ou mail :</label>
                <br>
                <input
                id="num"
                v-model="num"
                type="text"
                name="num"
                >
            </p>

            <p>
                <label for="mdp">mot de passe :</label>
                <br>
                <input
                id="mdp"
                v-model="mdp"
                type="password"
                name="mdp"
                min="5"
                max="20"
                >
            </p>

            {{ val }}

            <p>
                <input
                type="submit"
                value="se connecter"
                id="seconnecter"
                >
            </p>

            

        </form>


        <button id="autre">s'inscrire</button>



    </div>

</body>

</html>